<!DOCTYPE html>
<html>
  <head>
    <title>MusicBox</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to "Top", root_path %>
      <%= link_to "sign in", new_user_session_path %>
      <%= link_to "sign up", new_user_registration_path %>
    </header>
    <%= yield %>
  </body>
</html>
